@use "sass:color"
@use "fonts"

@tailwind base
@tailwind components
@tailwind utilities

@layer components
    .bg-zinc-950
        background-color: rgb(9 9 11)

    .text-zinc-950
        color: rgb(9 9 11)

    .border-zinc-950
        border-color: rgb(9 9 11)

    .round-border
        @apply rounded-full border border-white border-solid w-full p-12 aspect-square flex justify-center items-center

    .last-rb
        padding: 0

    .nav-item
        @apply transition duration-500 ease-out font-bold
        &:hover
            @apply transition duration-500 ease-in brightness-150

    .heading
        @apply text-[clamp(25px,_7vw,_75px)] font-serif uppercase leading-[1.25em] text-pink

    .project-item-container
        @apply p-6 border border-white rounded-full relative overflow-hidden

    .project-title
        @apply opacity-0 absolute block bg-purple w-full h-full top-0 left-0 flex justify-center items-center z-50 font-serif text-xl lg:text-2xl text-center transition duration-500 ease-in-out
        &:hover
            @apply opacity-100 transition duration-500 ease-in-out

    .project-title-small
        @apply opacity-0 absolute block bg-purple w-full h-full top-0 left-0 flex justify-center items-center z-50 font-serif text-lg lg:text-xl text-center transition duration-500 ease-in-out
        &:hover
            @apply opacity-100 transition duration-500 ease-in-out

    .icon
        width: 24px
        height: 24px

    .project-post
        a
            @apply text-purple font-bold duration-500
            &:hover
                @apply brightness-150 duration-500
        figure
            @apply grid gap-2 lg:grid-cols-2
        figure.one-img
            @apply block
        figure.five-img
            @apply block lg:grid lg:grid-cols-2
            img:last-of-type
                @apply col-span-2
        figcaption
            @apply lg:col-span-2 text-center italic
        ol
            @apply px-12
            li
                @apply list-decimal
        ul
            @apply px-12
            li
                @apply list-disc
        h2
            @apply font-bold italic text-3xl border-b-2 border-pink border-solid w-fit mt-4
        h3
            @apply uppercase font-bold text-pink text-xl
        h4
            @apply italic font-bold
        h5
            @apply font-bold text-xl